<section class="sal-sidebar__search">
  <h3>Search</h3>
  <form>
    <label for="search-field" class="sr-only">Search</label>
    <input type="text" id="search-field" />
    <button type="submit" class="button button--secondary">Search</button>
  </form>
  <div id="results" class="sal-sidebar__results"></div>
</section>