<div class="sidebar">

  <div class="sidebar__section">
    <div class="sidebar__logo">
      <a class="sidebar__logo-link" href="/">
        <img src="{{@site.logo}}" alt="{{@site.title}} logo" />
      </a>
    </div>

    <div class="sidebar__title">
      <h2>{{@site.title}}</h2>
    </div>

    <div class="sidebar__description">
      {{@site.description}}
    </div>
  </div>

  <div class="sidebar__section">
    {{> sidebar-search}}
  </div>

  <div class="sidebar__section">
    {{#get "posts" limit="9" include="tags,authors" as |post|}}
    {{#post}}
    {{> card-post}}
    {{/post}}
    {{/get}}
  </div>
</div>
