<div class="sal-sidebar">

  <div class="sal-sidebar__section">
    {{> sidebar-search}}
  </div>

  <div class="sal-sidebar__section">
    {{> sidebar-posts}}
  </div>

  <div class="sal-sidebar__section">
    {{> sidebar-social}}
  </div>

</div>
