// ############################################################################
// Footer
// ############################################################################

.sal-footer {
  padding: 1rem 0;
  border-top: 1px solid $color-body;
  color: $color-body;
  text-align: center;

  @include small {
    margin: 75px auto 0;
  }

  a {
    display: block;
    color: $color-active;

    &:hover,
    &:focus {
      color: $color-brand;
    }
  }

  &__copyright {
    color: $color-body;
    padding-bottom: 2rem;
  }
}
