// *****************************************************************************
// * Navigation
// * Primary / Mobile navigation
// *****************************************************************************

.navigation {

  display: block;
  position: relative;
  justify-content: space-between;

  &__logo {
    max-width: 64px;
    margin: 0 auto;
  }

  &__title {
    font-family: $base-font-heading;
    padding: 0.5rem 0;
    text-align: center;
    font-size: 1.5rem;
  }

  &__menu {
    display: block;
    text-align: center;
    margin: 1rem auto;
    border-top: 1px solid $color-border;
    border-bottom: 1px dashed $color-border;
  }

  &__entry {
    @include font-smoothing;
    display: inline-block;
    padding: 1rem;
    text-align: center;
    margin: 0 auto;
    color: $color-body;
    text-transform: uppercase;
    font-size: 1rem;
  }

  &__link {
    display: block;
    border-bottom: 2px solid $color-transparent;
    font-weight: lighter;
    font-size: 1rem;
    font-family: $base-font;
    transition: 400ms;
    color: $color-body;
    font-family: $base-font-body;
    font-size: 18px;

    &--active {
      font-weight: bold;
    }
  }

}