// ############################################################################
// Posts
// ############################################################################

.sal-post {

  &__more {
    display: block;
    margin-top: 1rem;

    a {
      display: inline-block;
      padding: 8px 1rem;
      background-color: $color-shade2;
      color: $color-light1;
      border-radius: 2rem;
      border: 1px solid $color-shade2;
      transition: $animation-speed;

      &:hover,
      &:active {
        background-color: $color-light1;
        border: 1px solid $color-shade2;
        color: $color-shade1;
      }

      &::after {
        padding-left: 1rem;
        content: ">";
      }
    }
  }

}
