.sal-sidebar {
  position: relative;
  margin: 2rem;
  border-top: 1px solid $color-border;

  @include small {
    margin: 0;
    padding-left: 1rem;
    border-top: 0;
    border-left: 1px dashed $color-border;
  }

  h3 {
    font-size: 1.1rem;
    text-transform: uppercase;
  }

  &__section {
    border-bottom: 1px solid $color-border;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }

  &__inner {
    margin: 0 1rem;
  }

  form {
    width: 100%;
  }

  input {
    width: 100%;
    border: 1px solid black;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
  }

  button {
    display: block;
    margin: 4px auto;
    padding: 8px 1rem;
    background-color: $color-shade2;
    font-size: 1rem;
    color: $color-light1;
    border-radius: 2rem;
    border: 1px solid $color-shade2;
    transition: $animation-speed;
    cursor: pointer;

    &:hover,
    &:active {
      background-color: $color-light1;
      border: 1px solid $color-shade2;
      color: $color-shade1;
    }

  }

  &__search {
    position: relative;
  }

  &__results {
    @include scrollbars;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 0.5rem;
    max-height: 200px;
    z-index: 2;
    padding: 1rem;
    border: 1px solid $color-brand;
    overflow: auto;
    background-color: $color-white;


    &:empty {
      display: none;
    }

    > p {
      display: block;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid $color-brand;
      text-align: left;
    }

    a,
    p {
      display: block;
      margin-bottom: 1rem;
      text-align: left;
    }
  }

  &__posts {

  }

  &__social {

    .sal-sidebar__inner {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    a {
      display: inline-block;
      margin: 0 1rem;
      width: 3rem;
      height: 3rem;
      border: 2px solid $color-shade2;
      border-radius: 50%;
      padding: 1rem;
      background-color: $color-alt1;

      img {
        width: 100%;
      }
    }
  }

}