// #######################
// ## Salon colors
// #######################

// PRIMARY
$color-white: #ffffff;
$color-black: #000000;
$color-shade1: #002734;
$color-shade2: #002c3b;
$color-light1: #bdeeff;
$color-light2: #98c4d3;

$color-alt1: #e2e2e2;
$color-alt2: #f7f7f7;

// BACKGROUNDS
$color-background: $color-alt1;
$color-background-body: $color-alt2;

// NAVIGATION & FOOTERS
$color-navigation-fg: $color-light1;
$color-navigation-bg: $color-shade1;

// COPY
$color-headings: $color-shade1;
$color-body-text: $color-shade2;
$color-border: $color-alt1;

// LINKS
$color-link1: #fd3b7a;
$color-link2: #ae0c40;

// BUTTONS
$color-button-primary: #e01053;
$color-button-primary-hover: #fd3b7a;
$color-button-primary-active: #ae0c40;
$color-button-primary-disabled: #f7c1d2;

$color-button-secondary: #e0b77d;
$color-button-secondary-hover: #ecc99e;
$color-button-secondary-active: #b38956;
$color-button-secondary-disabled: #f8ebd9;

$color-button-tertiary: #194288;
$color-button-tertiary-hover: #194288;
$color-button-tertiary-active: #194288;
$color-button-tertiary-disabled :#194288;

$color-transparent: rgba(0, 0, 0, 0);


$color-panel-bg: lighten($color-background, 30%);
$color-body: $color-body-text;
$color-brand: #b81717;




$color-active: #e6b272;
$color-faint: #f2f3f5;


// Forms
$color-field-placeholder: $color-body;
$color-field-border: #c4cdd5;
$color-button: $color-brand;
$color-form-error: #ff0000;