// ############################################################################
// Layout
// ############################################################################

body {
  background-color: $color-white;
  width: 100%;
}

.sal {

  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  &__layout {
    background-color: $color-background;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }

  &__lane {
    // width: 100%;
    // margin-bottom: 3rem;

    img {
      max-width: 400px;
      height: auto;
    }
  }

  &__content {
    margin: 2rem;
  }

  &__footer {
    text-align: center;
  }
}

.centered {
  text-align: center;

  & > .mz-button {
    display: inline-block;
  }
}

// ############################################################################
// Splits (do not apply to lanes)
// ############################################################################

.sal-split-uneven {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
  overflow: hidden;

  @include small {
    grid-template-columns: 2fr 1fr;
  }

  @include large {
    grid-template-columns: 3fr 1fr;
  }
}

.sal-featured {
  margin-bottom: 4rem;
  border: 1px solid $color-border;
  padding: 2rem 1rem;
}

.sal-post {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid $color-border;

  &__title {
    display: flex;
    width: 70%;
  }

  &__thumb {

    img {
      margin-left: 1rem;
      width: 150px;
    }

    &--pre {

      img {
        margin-left: 0;
        margin-bottom: 1rem;
      }
    }
  }

  &__excerpt {
    width: 80%;
  }

}